div.generalInfo_title General information
div.generalInfo
    div
        input(type='text' class='form-control' name='id' value=id hidden disabled)
        div.pronoun
            label(for='word') Word
            input(type='text' class='form-control' name='word' id='word' value=word disabled)
        div.pronoun
            label(for='type') Type
            input(type='text' class='form-control' name='type' id='type' value=type disabled)
        div.pronoun
            label(for='Translation') Translation
            input(type='text' class='form-control' name='translation' id='translation' value=translation disabled)
    div
div.verbs
    div.form1
        div.form_title Form 1
        div.tempus
            div.tempus_title Perfect
            div.numerus
                div.pronoun
                    label(for='form1_perfect_ana') Ana
                    input(type='text' name='form1_perfect_ana' id='form1_perfect_ana' value=verbs.form1.perfect.ana disabled)
                div.pronoun
                    label(for='form1_perfect_anta') Anta
                    input(type='text' name='form1_perfect_anta' id='form1_perfect_anta' value=verbs.form1.perfect.anta disabled)
                div.pronoun
                    label(for='form1_perfect_anti') Anti
                    input(type='text' name='form1_perfect_anti' id='form1_perfect_anti' value=verbs.form1.perfect.anti disabled)
                div.pronoun
                    label(for='form1_perfect_huwa') Huwa
                    input(type='text' name='form1_perfect_huwa' id='form1_perfect_huwa' value=verbs.form1.perfect.huwa disabled)
                div.pronoun
                    label(for='form1_perfect_hiya') Hiya
                    input(type='text' name='form1_perfect_hiya' id='form1_perfect_hiya' value=verbs.form1.perfect.hiya disabled)
                
            div.numerus
                div.pronoun
                    label(for='form1_perfect_antuma_male') Antumaa (male)
                    input(type='text' name='form1_perfect_antuma_male' id='form1_perfect_antuma_male' value=verbs.form1.perfect.antuma_male disabled)
                div.pronoun
                    label(for='form1_perfect_antuma_female') Antumaa (female)
                    input(type='text' name='form1_perfect_antuma_female' id='form1_perfect_antuma_female' value=verbs.form1.perfect.antuma_female disabled)
                div.pronoun
                    label(for='form1_perfect_huma_male') Humaa (male)
                    input(type='text' name='form1_perfect_huma_male' id='form1_perfect_huma_male' value=verbs.form1.perfect.huma_male disabled)
                div.pronoun
                    label(for='form1_perfect_huma_female') Humaa (female)
                    input(type='text' name='form1_perfect_huma_female' id='form1_perfect_huma_female' value=verbs.form1.perfect.huma_female disabled)
            
            div.numerus
                div.pronoun
                    label(for='form1_perfect_nahnu') Nahnu
                    input(type='text' name='form1_perfect_nahnu' id='form1_perfect_nahnu' value=verbs.form1.perfect.nahnu disabled)
                div.pronoun
                    label(for='form1_perfect_antum') Antum
                    input(type='text' name='form1_perfect_antum' id='form1_perfect_antum' value=verbs.form1.perfect.antum disabled)
                div.pronoun
                    label(for='form1_perfect_antunna') Antunna
                    input(type='text' name='form1_perfect_antunna' id='form1_perfect_antunna' value=verbs.form1.perfect.antunna disabled)
                div.pronoun
                    label(for='form1_perfect_hum') Hum
                    input(type='text' name='form1_perfect_hum' id='form1_perfect_hum' value=verbs.form1.perfect.hum disabled)
                div.pronoun
                    label(for='form1_perfect_hunna') Hunna
                    input(type='text' name='form1_perfect_hunna' id='form1_perfect_hunna' value=verbs.form1.perfect.hunna disabled)
        div.tempus
            div.tempus_title Imperfect
            div.numerus
                div.pronoun
                    label(for='form1_imperfect_ana') Ana
                    input(type='text' name='form1_imperfect_ana' id='form1_imperfect_ana' value=verbs.form1.imperfect.ana disabled)
                div.pronoun
                    label(for='form1_imperfect_anta') Anta
                    input(type='text' name='form1_imperfect_anta' id='form1_imperfect_anta' value=verbs.form1.imperfect.anta disabled)
                div.pronoun
                    label(for='form1_imperfect_anti') Anti
                    input(type='text' name='form1_imperfect_anti' id='form1_imperfect_anti' value=verbs.form1.imperfect.anti disabled)
                div.pronoun
                    label(for='form1_imperfect_huwa') Huwa
                    input(type='text' name='form1_imperfect_huwa' id='form1_imperfect_huwa' value=verbs.form1.imperfect.huwa disabled)
                div.pronoun
                    label(for='form1_imperfect_hiya') Hiya
                    input(type='text' name='form1_imperfect_hiya' id='form1_imperfect_hiya' value=verbs.form1.imperfect.hiya disabled)
            
            div.numerus
                div.pronoun
                    label(for='form1_imperfect_antuma_male') Antumaa (male)
                    input(type='text' name='form1_imperfect_antuma_male' id='form1_imperfect_antuma_male' value=verbs.form1.imperfect.antuma_male disabled)
                div.pronoun
                    label(for='form1_imperfect_antuma_female') Antumaa (female)
                    input(type='text' name='form1_imperfect_antuma_female' id='form1_imperfect_antuma_female' value=verbs.form1.imperfect.antuma_female disabled)
                div.pronoun
                    label(for='form1_imperfect_huma_male') Humaa (male)
                    input(type='text' name='form1_imperfect_huma_male' id='form1_imperfect_huma_male' value=verbs.form1.imperfect.huma_male disabled)
                div.pronoun
                    label(for='form1_imperfect_huma_female') Humaa (female)
                    input(type='text' name='form1_imperfect_huma_female' id='form1_imperfect_huma_female' value=verbs.form1.imperfect.huma_female disabled)
            
            div.numerus
                div.pronoun
                    label(for='form1_imperfect_nahnu') Nahnu
                    input(type='text' name='form1_imperfect_nahnu' id='form1_imperfect_nahnu' value=verbs.form1.imperfect.nahnu disabled)
                div.pronoun
                    label(for='form1_imperfect_antum') Antum
                    input(type='text' name='form1_imperfect_antum' id='form1_imperfect_antum' value=verbs.form1.imperfect.antum disabled)
                div.pronoun
                    label(for='form1_imperfect_antunna') Antunna
                    input(type='text' name='form1_imperfect_antunna' id='form1_imperfect_antunna' value=verbs.form1.imperfect.antunna disabled)
                div.pronoun
                    label(for='form1_imperfect_hum') Hum
                    input(type='text' name='form1_imperfect_hum' id='form1_imperfect_hum' value=verbs.form1.imperfect.hum disabled)
                div.pronoun
                    label(for='form1_imperfect_hunna') Hunna
                    input(type='text' name='form1_imperfect_hunna' id='form1_imperfect_hunna' value=verbs.form1.imperfect.hunna disabled)
